<div class="container">

  <span>Disabled toggled: {{cnt()}} times</span>
  <mat-slide-toggle (change)="toggleDisable($event.checked)"></mat-slide-toggle>

  <div class="buttons-container">
    <button mat-button color="accent" appMatButtonExtended [isViewerDisabled]="buttonsDisabled()"
            matTooltip="matTooltip">
      I'm a button!
    </button>

    <button mat-raised-button color="accent" appMatButtonExtended [isViewerDisabled]="buttonsDisabled()"
            [viewerTooltip]="'ViewerTooltip val: ' + cnt()" [matTooltip]="'Value from matTooltip: ' + cnt()">
      I'm a button with an additional tooltip!
    </button>

    <button mat-flat-button color="accent" appMatButtonExtended [isViewerDisabled]="buttonsDisabled()" [viewerTooltip]="viewerTooltipVal()" matTooltip>
      I'm a button!
    </button>

    <button mat-stroked-button color="accent" appMatButtonExtended [isViewerDisabled]="buttonsDisabled()" [viewerTooltip]="viewerTooltipVal()" matTooltip>
      I'm a button!
    </button>

    <button mat-icon-button color="accent" appMatButtonExtended [isViewerDisabled]="buttonsDisabled()" matTooltip>
      <mat-icon>edit</mat-icon>
    </button>

    <button mat-fab color="accent" appMatButtonExtended [isViewerDisabled]="buttonsDisabled()" matTooltip>
      <mat-icon>bookmark</mat-icon>
    </button>

    <button mat-mini-fab color="accent" appMatButtonExtended [isViewerDisabled]="buttonsDisabled()" matTooltip>
      <mat-icon>home</mat-icon>
    </button>
  </div>

  <div class="buttons-container">
    @for (index of indexes; track index) {
      <button mat-flat-button color="accent" appMatButtonExtended [isViewerDisabled]="buttonsDisabled()" [viewerTooltip]="viewerTooltipVal()" matTooltip>
        Button inside &#64;for {{ index }}
      </button>
    }
  </div>

  <div class="buttons-container">
    <button *ngFor="let index of indexes" mat-flat-button color="accent" appMatButtonExtended
            [isViewerDisabled]="buttonsDisabled()" [viewerTooltip]="viewerTooltipVal()" matTooltip>
      Button inside *ngFor loop {{ index }}
    </button>
  </div>
</div>
